*.sam
*.graphalignments
*.txt
*.fa
*.swp
.idea
*.egg-info
__pycache__
*.fa.*
*.intervalcollection*
*.tmp
*.fasta
benchmarking/mhc_benchmark
benchmarking/mhc_graph_data
*.pos
*.gz
*.tsv
*.vcf
report.html
*.compare
*tar.gz*


